body {background-color: gray;}

.haut {display: flex;
    flex-direction: row;
    justify-content: space-evenly;}

.logo {width: 5%;
    height: auto;
    float: left;}

.logement {text-align: center;
    justify-content: space-between;}

.web {width: 3%;
    height: auto; 
    float: right;}

.haudroit {float: right;}

.barre {display: flex;
    flex-direction: row;
    justify-content: space-evenly;}

.loupeuh {width: 3%;
    height: 3%;}

.icone {display: flex;
    flex-direction: row;
    justify-content: space-evenly;}

.test {width: 5%;
    float: center;
    justify-content: space-evenly;}

.icontext {display: flex;
    flex-direction: row;
    float: center;
    justify-content: space-evenly;}

.média {justify-content: space-between;
     float: center;}

.offre {width: 20%;
    float: center;}


